.categorySearch {
    padding: 12px 12px 0 12px;
    margin-left: 8px;
}

.categoryButton {
    margin-right: 4px;
}

.categoryIcon {
    margin-right: 10px;
}

.categoryTable {
    margin: 24px 12px 0 12px;
    padding-right: 24px;
    width: 98%;
}

.categoryPagination {
    margin-top: 24px;
}